<html>
  <%= stylesheet_link_tag "application.css" %>
  <%= render :partial => 'header' %>
  <div id=ok>
  <h3><%= params[:message] %></h3>
  </div>
  <table class=table_tab>
    <tr>
      <th class=off>
        <%= link_to('飲み会一覧',:controller => 'top', :action => 'show') %>
      </th>
      <th class=on>
        <%= link_to('ユーザ', :controller => 'admin', :action => 'show') %>
      </th>
      <th class=off>
        <%= link_to('新規登録', :controller => 'top', :action => 'new') %>
      </th>
    </tr>
    <tr>
      <td colspan="3" class=tab>
     <% form_tag :action => 'add' do %>
       名前:<%= text_field("data","name") %>
       <%= submit_tag '追加' %>
      <% end %>
        <table class=table_user_list align=center>
          <tr>
            <th>名前</th>
          </tr>

          <% Users.all.each do |user| %>
          <tr>
            <td><%= user.name %></td>
          </tr>
          <% end %>
        </table>
      </td>
    </tr>
  </table>
</html>

